@font-face {
  font-family: "iconfont"; /* Project id 3373331 */
  src: url('/static/iconfont.woff2?t=1651547030754') format('woff2'),
       url('/static/iconfont.woff?t=1651547030754') format('woff'),
       url('/static/iconfont.ttf?t=1651547030754') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liebiao:before {
  content: "\e601";
}

.icon-shoucang:before {
  content: "\e646";
}

.icon-pengyouquan:before {
  content: "\e621";
}

.icon-xiaochengxu:before {
  content: "\e619";
}

.icon-wenjianjia:before {
  content: "\ec17";
}

.icon-shouji:before {
  content: "\e8b9";
}

.icon-lianxiren:before {
  content: "\e613";
}

.icon-hudiejie:before {
  content: "\e629";
}

.icon-Rrl_s_131:before {
  content: "\e622";
}

.icon-yonghu1:before {
  content: "\e788";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-guanbi:before {
  content: "\e624";
}

